
body{
    background-color: #5c2800;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-style: normal;
    color: #fff;
    padding-right: 0!important;
}

.fondoToneles {
    background-image: url("../img/newFondo.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
}

h1 {
    font-size: 4.5rem;
    font-weight: normal;
    letter-spacing: .02em;
}

p {
    font-size: 1.6rem;
    line-height: 1.7em;
    margin: 0 0 10px;
}

.redondeado {
    border-radius: 40% 20%;
}

.taco {
    height: 150px;
}

.bg-negro {
    background-color: #000;
}

.bandera {
    width: 50px;
}

.botonBanderas {
    background-color: #fff;
}

.dropdown-menu {
    min-width: auto;
}

/** Animaciones **/

#intro .animation-container {
    -webkit-transition: .5s ease;
         -o-transition: .5s ease;
            transition: .5s ease;
}

#intro .animation-container.animation-fade-right {
    -webkit-transform: translateX(-10vh);
        -ms-transform: translateX(-10vh);
            transform: translateX(-10vh);

    opacity: 0;

}

#intro .animation-container.animation-fade-right.run-animation {
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0);

    opacity: 1;
}

a, a:hover, a:focus {
    cursor: pointer;
    -webkit-transition: all 300ms ease;
         -o-transition: all 300ms ease;
            transition: all 300ms ease;
    text-decoration: none;
    color: #fff;
}

#work .showcase .item .info{
    position: absolute;
    z-index: 100;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;

    -webkit-transition: .25s ease;
         -o-transition: .25s ease;
            transition: .25s ease;

    color: #fff;
    background: #fff;
    background: -webkit-linear-gradient(left, rgba(133,72,26,24) 1%,rgba(0,0,0,0) 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(1%, rgba(33,72,26,24)),to(rgba(0,0,0,0)));
    background:      -o-linear-gradient(left, rgba(133,72,26,24) 1%,rgba(0,0,0,0) 100%);
    background:         linear-gradient(to right, rgba(133,72,26,24) 1%,rgba(0,0,0,0) 100%);

    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#85481a', endColorstr='#00000000',GradientType=1 );
}

#work .showcase .item:hover .info{
    width: 100%;
}

#work .showcase .item{
    overflow: hidden!important;
}

/** pop-ups **/

.modal .modal-dialog {
    max-width: 1024px;
    width: 93%;
}

.modal .modal-dialog .modal-content {
    padding: 0;
    border-bottom: 0;
    background: rgba(133,72,26,.7);
}
.modal .modal-body {
    position: relative;
    padding: 30px 30px 70px 30px;
    color: #fff;
}

.ticlose{
background: none;
    border: none;
    color: #fff;
    position: absolute;
    right: 0px;
    top: 0px;
    z-index: 333;
    font-size: 22px;
}


/** 9. Content Area --> Contact
*******************************************************************/

#contact #contact-form
{
    position: relative;
}

#contact #contact-form .fhp-input
{
    display: none;

    pointer-events: none;

    opacity: 0;
}

#contact #contact-form input,
#contact #contact-form textarea,
#contact #contact-form button
{
    font-size: 2rem;

    margin-bottom: 3.4vh;

    -webkit-transition: .3s ease;
         -o-transition: .3s ease;
            transition: .3s ease;

    color: #fff;
    border: 4px solid #fff;
    border-radius: 0;
    outline: none !important;
    background: none;
    -webkit-box-shadow: none !important;
            box-shadow: none !important;
}

#contact #contact-form.success input,
#contact #contact-form.success textarea,
#contact #contact-form.success button
{
    border: none;
}

#contact #contact-form.success input,
#contact #contact-form.success textarea,
#contact #contact-form.success button
{
    line-height: 0;

    height: 0;
    margin: 0;
    padding: 0;

    opacity: 0;
}

#contact #contact-form input::-webkit-input-placeholder,
#contact #contact-form textarea::-webkit-input-placeholder
{
    color: #fff;
}

#contact #contact-form input:-ms-input-placeholder,
#contact #contact-form textarea:-ms-input-placeholder
{
    color: #fff;
}

#contact #contact-form input::-ms-input-placeholder,
#contact #contact-form textarea::-ms-input-placeholder
{
    color: #fff;
}

#contact #contact-form input::placeholder,
#contact #contact-form textarea::placeholder
{
    color: #fff;
}

#contact #contact-form input.error,
#contact #contact-form textarea.error
{
    border-color: red;
}

#contact #contact-form input
{
    line-height: 3.2em;

    height: 3.4em;
    padding: 0;
}

#contact #contact-form textarea
{
    line-height: 1.7em;

    min-width: 100%;
    max-width: 100%;
    height: 8em;
    margin-bottom: 4.4rem;
    padding: 0;
    padding-top: 1em;
}

#contact #contact-form button
{
    line-height: 3.2em;

    position: relative;

    display: inline-block;
    overflow: hidden;

    width: auto;
    height: 3.2em;
    margin-bottom: 0;
    padding: 0;

    border: none !important;
    background: none !important;
}

#contact #contact-form button .circle
{
    font-size: 1em;
    line-height: 5rem;

    position: relative;

    display: inline-block;
    overflow: hidden;

    width: 5rem;
    height: 5rem;
    margin-left: 1em;

    vertical-align: middle;

    border: 2px solid #fff;
    border-radius: 100%;
    background: #000;
}

#contact #contact-form button .circle i
{
    position: absolute;
    top: 50%;
    left: 0;

    width: 100%;

    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    text-align: center;
}

#contact #contact-form button .circle i:first-child
{
    -webkit-transform: translate(-100%,-50%);
        -ms-transform: translate(-100%,-50%);
            transform: translate(-100%,-50%);
}

#contact #contact-form button:hover .circle i:first-child
{
    -webkit-transition: .15s ease;
         -o-transition: .15s ease;
            transition: .15s ease;
    -webkit-transform: translate(0,-50%);
        -ms-transform: translate(0,-50%);
            transform: translate(0,-50%);
}

#contact #contact-form button .circle i:last-child
{
    -webkit-transform: translate(0,-50%);
        -ms-transform: translate(0,-50%);
            transform: translate(0,-50%);
}

#contact #contact-form button:hover .circle i:last-child
{
    -webkit-transition: .15s ease;
         -o-transition: .15s ease;
            transition: .15s ease;
    -webkit-transform: translate(100%,-50%);
        -ms-transform: translate(100%,-50%);
            transform: translate(100%,-50%);
}


#contact #contact-form .success-message
{
    font-size: 2rem;
    line-height: 0;

    position: relative;
    bottom: 0;
    left: 0;

    height: 0;
    margin-top: -1.6em;
    padding: 0 2em;

    -webkit-transition: .2s ease;
         -o-transition: .2s ease;
            transition: .2s ease;
    pointer-events: none;

    opacity: 0;
    color: #fff;
    border: 2px solid limegreen;
    border-radius: 0;
    background: none;
}

#contact #contact-form.success .success-message
{
    line-height: 6em;

    height: 6em;

    pointer-events: all;

    opacity: 1;
}

#contact #contact-form .success-message i
{
    font-size: 2.4rem;

    margin-right: .7em;
}



@media (min-width: 120px) and (max-width: 399px){
    .fondoToneles {
        background-size: 1000% auto;
        background-position: left;
    }
    
    p {
        font-size: 1.4rem;
    }
    
    h1 {
        font-size: 3rem;
    }
}